* {
    margin: 0;
    padding: 0;
    }

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr;
    gap: 1px;
}

nav {
    display: flex;
    height: 50px;
    background-color: #282828;
    flex-direction: row;
    justify-content: space-between;
  }



.links {
    line-height: 2 ;
    font-size: 20px;
    margin: 20px;
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }

  aside {
    line-height: 2 ;
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    background-color: #282828;
    text-transform: uppercase;
  }

  main {
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    background-color: #282828;
    text-transform: uppercase;
  }

  .description, .game {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    grid-column: span 2;
    grid-column: 1/3;
  }

  a {
    color: #33ff33;
  }

 .board {
position: absolute;
padding: 20px;
height: 600px;
width: 500px;
background-color: #282828;
border-width: 31px;
border: 5px solid wheat
}

.ball {
    position: absolute;
    left: 265px;
    bottom: 35px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #33ff33;
}

.block {
    position: absolute;
    height: 15px;
    width: 50px;
    background-color: white;
    margin: 1px;
}

 .rowOne #bl1 {
    position: absolute;
    top: 20px;
    left: 25px;
}
.rowOne #bl2 {
    position: absolute;
    top: 20px;
    left: 80px;
}
.rowOne #bl3 {
    position: absolute;
    top: 20px;
    left: 135px;
}
.rowOne #bl4 {
    position: absolute;
    top: 20px;
    left: 190px;
}
.rowOne #bl5 {
    position: absolute;
    top: 20px;
    left: 245px;
}
.rowOne #bl6 {
    position: absolute;
    top: 20px;
    left: 300px;
}
.rowOne #bl7 {
    position: absolute;
    top: 20px;
    left: 355px;
}
.rowOne #bl8 {
    position: absolute;
    top: 20px;
    left: 410px;
}
.rowOne #bl9 {
    position: absolute;
    top: 20px;
    left: 465px;
}
.rowTwo #bl1{
    position: absolute;
    top: 40px;
    left: 25px;
}
.rowTwo #bl2{
    position: absolute;
    top: 40px;
    left: 80px;
}
.rowTwo #bl3{
    position: absolute;
    top: 40px;
    left: 135px;
}
.rowTwo #bl4{
    position: absolute;
    top: 40px;
    left: 190px;
}
.rowTwo #bl5{
    position: absolute;
    top: 40px;
    left: 245px;
}
.rowTwo #bl6{
    position: absolute;
    top: 40px;
    left: 300px;
}
.rowTwo #bl7{
    position: absolute;
    top: 40px;
    left: 355px;
}
.rowTwo #bl8{
    position: absolute;
    top: 40px;
    left: 410px;
}
.rowTwo #bl9{
    position: absolute;
    top: 40px;
    left: 465px;
}
.rowThree #bl1{
    position: absolute;
    top: 60px;
    left: 25px;
}
.rowThree #bl2{
    position: absolute;
    top: 60px;
    left: 80px;
}
.rowThree #bl3{
    position: absolute;
    top: 60px;
    left: 135px;
}
.rowThree #bl4{
    position: absolute;
    top: 60px;
    left: 190px;
}
.rowThree #bl5{
    position: absolute;
    top: 60px;
    left: 245px;
}
.rowThree #bl6{
    position: absolute;
    top: 60px;
    left: 300px;
}
.rowThree #bl7{
    position: absolute;
    top: 60px;
    left: 355px;
}
.rowThree #bl8{
    position: absolute;
    top: 60px;
    left: 410px;
}
.rowThree #bl9{
    position: absolute;
    top: 60px;
    left: 465px;
}
.rowFour #bl1{
    position: absolute;
    top: 80px;
    left: 25px;
}
.rowFour #bl2{
    position: absolute;
    top: 80px;
    left: 80px;
}
.rowFour #bl3{
    position: absolute;
    top: 80px;
    left: 135px;
}
.rowFour #bl4{
    position: absolute;
    top: 80px;
    left: 190px;
}
.rowFour #bl5{
    position: absolute;
    top: 80px;
    left: 245px;
}
.rowFour #bl6{
    position: absolute;
    top: 80px;
    left: 300px;
}
.rowFour #bl7{
    position: absolute;
    top: 80px;
    left: 355px;
}
.rowFour #bl8{
    position: absolute;
    top: 80px;
    left: 410px;
}
.rowFour #bl9{
    position: absolute;
    top: 80px;
    left: 465px;
}
.rowFive #bl1{
    position: absolute;
    top: 100px;
    left: 25px;
}
.rowFive #bl2{
    position: absolute;
    top: 100px;
    left: 80px;
}
.rowFive #bl3{
    position: absolute;
    top: 100px;
    left: 135px;
}
.rowFive #bl4{
    position: absolute;
    top: 100px;
    left: 190px;
}
.rowFive #bl5{
    position: absolute;
    top: 100px;
    left: 245px;
}
.rowFive #bl6{
    position: absolute;
    top: 100px;
    left: 300px;
}
.rowFive #bl7{
    position: absolute;
    top: 100px;
    left: 355px;
}
.rowFive #bl8{
    position: absolute;
    top: 100px;
    left: 410px;
}
.rowFive #bl9{
    position: absolute;
    top: 100px;
    left: 465px;
}
.x {
    visibility: hidden;
    height: 15px;
    width: 50px;
    margin: 1px;
}

.paddle {
    position: absolute;
    left: 240px;
    bottom: 10px;
    height: 15px;
    width: 70px;
    background-color: white;
    border-radius: 40%;
} 
  
