* {
    margin: 0;
    padding: 0;
    }
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr;
    gap: 1px;
}
nav {
    display: flex;
    height: 50px;
    background-color: #282828;
    flex-direction: row;
    justify-content: space-between;
}
.links {
    line-height: 2 ;
    font-size: 20px;
    margin: 20px;
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}
aside {
    line-height: 2 ;
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    background-color: #282828;
    text-transform: uppercase;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33ff33;
    font-family: 'Press Start 2P', cursive;
    background-color: #282828;
    text-transform: uppercase;
}
.description, .game {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    grid-column: span 2;
    grid-column: 1/3;
}
a {
    color: #33ff33;
}
.game {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/006/102/172/original/looping-matrix-style-cyrillic-alphabet-code-rain-effect-lightness-to-separate-from-the-background-free-video.jpg);
    background-color: #1d1c1c;
}
.home {
    position: absolute;
    top: 10%;
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
}
.instructions {
    position: absolute;
    bottom: 20%;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;
    color: #33ff33;
    background-color: #1d1c1c;
}
.board {
position: absolute;
padding: 20px;
height: 600px;
width: 500px;
background-color: #282828;
border-width: 31px;
border: 5px solid #33ff33;
}
.ball {
    position: absolute;
    left: 265px;
    bottom: 35px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #33ff33;
}
.block {
    position: absolute;
    height: 15px;
    width: 50px;
    background-color: white;
    margin: 1px;
}
.rowOne > .block {
    background-color: #ff0000;
}
.rowTwo > .block {
    background-color: #ffa500;
}
.rowThree > .block {
    background-color: #ffff00;
}
.rowFour > .block {
    background-color: #008000;
}
.rowFive > .block {
    background-color: #0000ff;
}
.rowSix > .block {
    background-color: #4b0082;
}
.rowSeven > .block {
    background-color: #ee82ee;
}
#bl1-1 {
    position: absolute;
    bottom: 600px;
    left: 25px;
}
#bl1-2 {
    position: absolute;
    bottom: 600px;
    left: 80px;
}
#bl1-3 {
    position: absolute;
    bottom: 600px;
    left: 135px;
}
#bl1-4 {
    position: absolute;
    bottom: 600px;
    left: 190px;
}
#bl1-5 {
    position: absolute;
    bottom: 600px;
    left: 245px;
}
#bl1-6 {
    position: absolute;
    bottom: 600px;
    left: 300px;
}
#bl1-7 {
    position: absolute;
    bottom: 600px;
    left: 355px;
}
#bl1-8 {
    position: absolute;
    bottom: 600px;
    left: 410px;
}
#bl1-9 {
    position: absolute;
    bottom: 600px;
    left: 465px;
}
#bl2-1{
    position: absolute;
    bottom: 580px;
    left: 25px;
}
#bl2-2{
    position: absolute;
    bottom: 580px;
    left: 80px;
}
#bl2-3{
    position: absolute;
    bottom: 580px;
    left: 135px;
}
#bl2-4{
    position: absolute;
    bottom: 580px;
    left: 190px;
}
#bl2-5{
    position: absolute;
     bottom: 580px;
    left: 245px;
}
#bl2-6{
    position: absolute;
     bottom: 580px;
    left: 300px;
}
#bl2-7{
    position: absolute;
     bottom: 580px;
    left: 355px;
}
#bl2-8{
    position: absolute;
     bottom: 580px;
    left: 410px;
}
#bl2-9{
    position: absolute;
     bottom: 580px;
    left: 465px;
}
#bl3-1{
    position: absolute;
    bottom: 560px;
    left: 25px;
}
#bl3-2{
    position: absolute;
     bottom: 560px;
    left: 80px;
}
#bl3-3{
    position: absolute;
     bottom: 560px;
    left: 135px;
}
#bl3-4{
    position: absolute;
     bottom: 560px;
    left: 190px;
}
#bl3-5{
    position: absolute;
     bottom: 560px;
    left: 245px;
}
#bl3-6{
    position: absolute;
     bottom: 560px;
    left: 300px;
}
#bl3-7{
    position: absolute;
     bottom: 560px;
    left: 355px;
}
#bl3-8{
    position: absolute;
     bottom: 560px;
    left: 410px;
}
#bl3-9{
    position: absolute;
     bottom: 560px;
    left: 465px;
}
#bl4-1{
    position: absolute;
    bottom: 540px;
    left: 25px;
}
#bl4-2{
    position: absolute;
    bottom: 540px;
    left: 80px;
}
#bl4-3{
    position: absolute;
    bottom: 540px;
    left: 135px;
}
#bl4-4{
    position: absolute;
    bottom: 540px;
    left: 190px;
}
#bl4-5{
    position: absolute;
    bottom: 540px;
    left: 245px;
}
#bl4-6{
    position: absolute;
    bottom: 540px;
    left: 300px;
}
#bl4-7{
    position: absolute;
    bottom: 540px;
    left: 355px;
}
#bl4-8{
    position: absolute;
    bottom: 540px;
    left: 410px;
}
#bl4-9{
    position: absolute;
    bottom: 540px;
    left: 465px;
}
#bl5-1{
    position: absolute;
    bottom: 520px;
    left: 25px;
}
#bl5-2{
    position: absolute;
    bottom: 520px;
    left: 80px;
}
#bl5-3{
    position: absolute;
    bottom: 520px;
    left: 135px;
}
#bl5-4{
    position: absolute;
    bottom: 520px;
    left: 190px;
}
#bl5-5{
    position: absolute;
    bottom: 520px;
    left: 245px;
}
#bl5-6{
    position: absolute;
    bottom: 520px;
    left: 300px;
}
#bl5-7{
    position: absolute;
    bottom: 520px;
    left: 355px;
}
#bl5-8{
    position: absolute;
    bottom: 520px;
    left: 410px;
}
#bl5-9{
    position: absolute;
    bottom: 520px;
    left: 465px;
}
#bl6-1{
    position: absolute;
    bottom: 500px;
    left: 25px;
}
#bl6-2{
    position: absolute;
    bottom: 500px;
    left: 80px;
}
#bl6-3{
    position: absolute;
    bottom: 500px;
    left: 135px;
}
#bl6-4{
    position: absolute;
    bottom: 500px;
    left: 190px;
}
#bl6-5{
    position: absolute;
    bottom: 500px;
    left: 245px;
}
#bl6-6{
    position: absolute;
    bottom: 500px;
    left: 300px;
}
#bl6-7{
    position: absolute;
    bottom: 500px;
    left: 355px;
}
#bl6-8{
    position: absolute;
    bottom: 500px;
    left: 410px;
}
#bl6-9{
    position: absolute;
    bottom: 500px;
    left: 465px;
}
#bl7-1{
    position: absolute;
    bottom: 480px;
    left: 25px;
}
#bl7-2{
    position: absolute;
    bottom: 480px;
    left: 80px;
}
#bl7-3{
    position: absolute;
    bottom: 480px;
    left: 135px;
}
#bl7-4{
    position: absolute;
    bottom: 480px;
    left: 190px;
}
#bl7-5{
    position: absolute;
    bottom: 480px;
    left: 245px;
}
#bl7-6{
    position: absolute;
    bottom: 480px;
    left: 300px;
}
#bl7-7{
    position: absolute;
    bottom: 480px;
    left: 355px;
}
#bl7-8{
    position: absolute;
    bottom: 480px;
    left: 410px;
}
#bl7-9{
    position: absolute;
    bottom: 480px;
    left: 465px;
}
.paddle {
    position: absolute;
    left: 240px;
    bottom: 10px;
    height: 15px;
    width: 70px;
    background-color: #33ff33;
    border-radius: 40%;
}